@import 'tailwindcss';
@import '@friendofsvelte/tipex/styles/index.css';

.tipex-editor {
	@apply bg-transparent;
	border: none;
}

.tipex-editor-section .ProseMirror h1 {
	margin-block: 0;
}

.tipex-editor-section .ProseMirror .is-empty::before {
	color: #0009;
	font-style: italic;
}
