@import 'tailwindcss';
@import '@friendofsvelte/tipex/styles/index.css';

.tipex-editor {
	@apply bg-transparent;
	border: none;

	--size-tipex-3: 1.25rem;

	ul[data-type='taskList'] {
		background: transparent;
		border: none;

		li {
			display: flex;
			align-items: flex-end;
			gap: 0.5em;
		}

		p {
			margin: 0;
		}
	}
}

.tipex-editor-section .ProseMirror h1 {
	margin-block: 0;
}

.tipex-editor-section .ProseMirror .is-empty::before {
	color: #0009;
	font-style: italic;
}
