@import 'tailwindcss';
@import '@friendofsvelte/tipex/styles/index.css';

.tipex-editor {
	@apply bg-transparent;
	border: none;
	/* font-family: serif; */

	ul[data-type='taskList'] {
		background: transparent;
		border: none;

		&.is-empty::before {
			margin-left: 1.7em;
		}

		li {
			display: flex;
			align-items: flex-end;
			gap: 0.5em;

			&[data-checked='true'] > div {
				color: inherit;
				opacity: 0.6;
			}

			label {
				align-self: flex-start;
				margin-top: 0.15em;
			}
		}

		p {
			margin: 0;
		}
	}
}

.isFocused .tipex-editor-section .ProseMirror {
	p.is-empty {
		visibility: visible;
	}
}

.tipex-editor-section .ProseMirror {
	h1 {
		margin-block: 0;
		font-weight: 400;
	}

	.is-empty::before {
		color: #0009;
		font-style: italic;
	}
	p.is-empty {
		visibility: hidden;
	}

	pre {
		background-color: var(--color-background-primary);

		&.is-empty::before {
			color: #fff9;
		}

		code {
			padding-inline: 0;
			background-color: transparent;
			color: var(--color-text-primary);
		}
	}
}
