@font-face {
  font-family: Yaelah;
  src: url(Yaelah.woff2);
}

:root {
  color-scheme: light dark;

  --color-text-primary: light-dark(#000, #fff);
  --color-background-body: light-dark(#d8d8d8, #111);
  --color-background-header: light-dark(#fff, #222);
  --color-blue: #30aab3;
  --color-green: #4d967b;
  --color-yellow: #ffca30;
  --color-red: #fa3757;
  --color-background-primary: light-dark(#fcfcf4, #222);
  --color-input-background: light-dark(#f6f6f6, #363636);
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 20px;
  --spacing-xxl: 32px;
  --spacing-3xl: 48px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --transition-duration: 200ms;
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;
  --font-family-display: Yaelah, comic, sans-serif;
  --font-family-default: sans-serif;

  font-family: var(--font-family-default);
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-body);
  margin: 0;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
}

h2 {
  font-family: var(--font-family-display);
  font-size: 1.35rem;
}

input {
  background: var(--color-input-background);
  color: var(--color-text-primary);
  border: none;
  font-family: var(--font-family-default);
  font-size: 1rem;
  padding: var(--spacing-md);
  border-radius: var(--radius-sm);

  &:disabled {
    color: rgba(from var(--color-text-primary) r g b / 0.5);
  }
}

select {
  background: var(--color-input-background);
  color: var(--color-text-primary);
  border: none;
  font-family: var(--font-family-default);
  font-size: 1rem;
  padding: var(--spacing-md);
  border-radius: var(--radius-sm);

  &:disabled {
    color: rgba(from var(--color-text-primary) r g b / 0.5);
  }
}
