:root {
  --color-text-primary: #000;
  --color-background-body: #d8d8d8;
  --color-background-header: #fff;
  --color-blue-light: #30aab3;
  --color-yellow: #ffca30;
  --color-red: #fa3757;
  --color-red-dark: #e02045;
  --color-green-dark: #4d967b;
  --color-background-primary: #fcfcf4;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 20px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --transition-duration: 200ms;
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;

  @media (prefers-color-scheme: dark) {
    --color-text-primary: #fff;
    --color-background-body: #111;
    --color-background-header: #222;
    --color-background-primary: #222;
  }
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-body);
  margin: 0;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
}
