@font-face {
  font-family: Yaelah;
  src: url(Yaelah.woff2);
}

:root {
  color-scheme: light dark;

  --color-text-primary: light-dark(#000, #fff);
  --color-background-body: light-dark(#d8d8d8, #111);
  --color-background-header: light-dark(#fff, #222);
  --color-blue-light: #30aab3;
  --color-yellow: #ffca30;
  --color-red: #fa3757;
  --color-red-dark: #e02045;
  --color-green-dark: #4d967b;
  --color-background-primary: light-dark(#fcfcf4, #222);
  --color-input-background: light-dark(#f6f6f6, #363636);
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 20px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --transition-duration: 200ms;
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;
  --font-family-display: Yaelah, comic, sans-serif;
  --font-family-default: sans-serif;

  font-family: var(--font-family-default);
}

:root.neon {
  --color-text-primary: #fff;
  --color-background-body: #ff00ea;
  --color-background-header: #00ffc8;
  --color-blue-light: #30aab3;
  --color-yellow: #ffca30;
  --color-red: #fa3757;
  --color-red-dark: #e02045;
  --color-green-dark: #4d967b;
  --color-background-primary: #222;
  --color-input-background: #363636;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-body);
  margin: 0;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
}

input {
  background: var(--color-input-background);
  color: var(--color-text-primary);
  border: none;
}
